<ul>
    <li>
        <a routerLink="/products" routerLinkActive="active">All produts</a>
    </li>
    <li>
        <a routerLink="/products" routerLinkActive="active">Men</a>
    </li>
    <li>
        <a routerLink="/products" routerLinkActive="active">Electronics</a>
    </li>
    <li>
        <a routerLink="/products" routerLinkActive="active">Women</a>
    </li>
    <li>
        <a routerLink="/products" routerLinkActive="active">Jewelery</a>
    </li>


    <button  (click)="navigate()">Navigate</button>
</ul>


